<config>
	<categories>
		<category name="Cafes_and_restaurants">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>BRASSERIE</value>
						<value>CAFE</value>
						<value>DE GULLE JACOB</value>
						<value>EAZIE</value>
						<value>GRILLROOM</value>
						<value>JOFEL</value>
						<value>LA FOCACCIA</value>
						<value>LITTLE V</value>
                        <value>LUNCH</value>
						<value>MC DONALDS</value>
						<value>NEW YORK PIZZA</value>
						<value>RESTAUR</value>
						<value>RESTAURANT</value>
						<value>SODEXO</value>
						<value>SPORTCENTR. TU DELFT</value>
                        <value>STARBUCKS</value>
						<value>VAPIANO</value>
						<value>YAMI YAMI</value>
						<value>YAMMI GRILL</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Clothing">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>H&M</value>
						<value>HANS TEXTIEL</value>
						<value>OPEN32</value>
						<value>SKATESTORE</value>
                        <value>SOCIETY SHOP</value>
						<value>THE STING</value>
						<value>VAN LIER</value>
						<value>ZARA</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Construction_AD67_D21">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>BOUWMAAT</value>
						<value>GAMMA</value>
						<value>IKEA</value>
                        <value>LOODS 5</value>
						<value>PLAXIS</value>
						<value>WARMTESERVICE</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Education">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>CHRISTIAAN HU</value>
						<value>DIENST UITVOERING ONDERWIJS</value>
						<value>DUO HOOFDREKENING</value>
						<value>INFORMATIE BEHEER G</value>
						<value>TU DELFT</value>
						<value>VSSD</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Electronics">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>ALTERNATE</value>
						<value>COOLBLUE</value>
						<value>EUROMAXI</value>
						<value>MOKIO</value>
						<value>SICOMPUTERS</value>
					</values>
				</rule>
				<rule>
					<function>StringInNote</function>
					<description>In name</description>
					<values>
						<value>ALTERNATE</value>
						<value>COOLBLUE</value>
						<value>EUROMAXI</value>
						<value>MOKIO</value>
						<value>SICOMPUTERS</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Energy_AD67">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>DELTA</value>
						<value>ENECO</value>
						<value>ESSENT</value>
						<value>OXXIO</value>
					</values>
				</rule>
				<rule>
					<function>StringInNote</function>
					<description>In name</description>
					<values>
						<value>DELTA</value>
						<value>ENECO</value>
						<value>ESSENT</value>
						<value>OXXIO</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Energy_D21">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>NL91INGB0008434666</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Fines">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>CENTR JUST INCASSO BUR SANCTIES</value>
						<value>CJIB</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Friends">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>B. VAN DIJK</value>
						<value>B.J. SCHRAM</value>
						<value>BART VAN DIJK</value>
						<value>BECKERS</value>
						<value>BOONACKER</value>
						<value>CABRITA</value>
						<value>DAMEN</value>
						<value>ESRAIL</value>
						<value>FRISHERT</value>
						<value>IEMANE</value>
						<value>KREUGER</value>
						<value>SEIDLER</value>
						<value>THOMASSEN</value>
						<value>TIGELAAR</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Garage_AD33">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>676044719</value>
                        <value>NL34ABNA0629104603</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Gasoline">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>BENZINE</value>
						<value>BP</value>
						<value>BRANDSTOF</value>
						<value>DELFORT</value>
						<value>EASY ENERGYMETAALHOF</value>
						<value>ESSO</value>
						<value>GABRIELS 48 ESSEN</value>
						<value>GULF</value>
						<value>SCHIPPER</value>
						<value>SHELL</value>
						<value>TAMOIL</value>
						<value>TANGO</value>
						<value>TANK</value>
						<value>TEXACO</value>
						<value>TINQ</value>
						<value>TOTAL</value>
						<value>VAN T HART</value>
					</values>
				</rule>
				<rule>
					<function>StringInNote</function>
					<description>In note</description>
					<values>
						<value>BENZINE</value>
						<value>BP</value>
						<value>BRANDSTOF</value>
						<value>DELFORT</value>
						<value>EASY ENERGYMETAALHOF</value>
						<value>ESSO</value>
						<value>GABRIELS 48 ESSEN</value>
						<value>GULF</value>
						<value>SCHIPPER</value>
						<value>SHELL</value>
						<value>TAMOIL</value>
						<value>TANGO</value>
						<value>TANK</value>
						<value>TEXACO</value>
						<value>TINQ</value>
						<value>TOTAL</value>
						<value>VAN T HART</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="H_Sillem-van_Hoof">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>4048610</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Health">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
                        <value>DITZO</value>
						<value>FA-MED</value>
                        <value>G C VAN BEEK</value>
						<value>KRALINGSE APOTHEEK</value>
						<value>PODOTHERAPIE</value>
						<value>PUGLIESE</value>
						<value>ROMBOUT KAPPERS</value>
						<value>TANDARTS</value>
						<value>ZORGTOESLAG</value>
					</values>
				</rule>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>686129</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Insurance">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>CENTRAAL BEHEER ACHMEA</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Internet_AD67">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>TISCALI</value>
						<value>XS4ALL</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Internet_D21">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>ONLINE.NL</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Milene">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>DE RIJCK VAN DER</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Mortgage_AD67">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>450004627</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Municipal_taxes_AD67_D21">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>644512113</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="P_Sillem_en_H_Sillem-van_Hoof">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>2785090</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Public_transport">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>R.E.T.</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Real_estate_D21">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>NL43RABO0160186439</value>
					</values>
				</rule>
				<rule>
					<function>StringInNote</function>
					<description>In name</description>
					<values>
						<value>Drijfhoutstraat 21</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Salary">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>AIRBORNE DEVELOPMENT B.V</value>
						<value>INFRAFLEX</value>
						<value>OPERATOR GROEP DELFT</value>
						<value>TASS INT</value>
						<value>UWV</value>
					</values>
				</rule>
				<rule>
					<function>StringInNote</function>
					<description>In name</description>
					<values>
						<value>DSM LIMBURG</value>
					</values>
				</rule>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>AccountNumberContraEqualTo</description>
					<values>
						<value>518103528</value>
						<value>NL77ABNA0518103528</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Savings_Aegon">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>AccountNumberContraEqualTo</description>
					<values>
						<value>NL05AEGO0725618272</value>
                        <value>725618272</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Savings_mortgage_AD67">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>450001067</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Savings_NN">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>AccountNumberContraEqualTo</description>
					<values>
						<value>NL50NNBA2029071978</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Shops_diverse">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>ACTION</value>
						<value>BIJENKORF</value>
						<value>BLOKKER</value>
						<value>BOL.COM</value>
						<value>KRUIDVAT</value>
						<value>MARSKRAMER</value>
						<value>MEDIA MARKT</value>
						<value>REMBRANDT</value>
						<value>V&D</value>
						<value>XENOS</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Sports">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>ARY VAN KAMPEN</value>
						<value>BLACK SHEEP</value>
						<value>BLEEKEMOLEN</value>
						<value>DE UITHOF</value>
						<value>F. L. LANGENBERG</value>
						<value>GO KART</value>
                        <value>HIJS HOKIJ</value>
						<value>HOLLANDINDOORKARTI</value>
						<value>KLIMCENTRUM</value>
                        <value>RBURGRING</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Study_finance">
			<rules>
				<rule>
					<function>StringInNote</function>
					<description>In name</description>
					<values>
						<value>STUDIEFINANCIERING</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Supermarket">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>ALBERT HEIJN</value>
						<value>C1000</value>
						<value>CASTELEIJN BROOD</value>
						<value>COOP</value>
						<value>DEN TOOM</value>
						<value>EXTRAMARKT</value>
						<value>HEIJDEN</value>
						<value>JUMBO</value>
						<value>LIDL</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Tax">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>BELASTING</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Telephone">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>KPN</value>
						<value>SIMYO</value>
						<value>T-MOBILE NETHERLANDS</value>
						<value>TELFORT</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Tenants_AD67">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>HAID</value>
                        <value>ONG YING JIE</value>                        
						<value>OU YANG</value>
						<value>ZHEKOV</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Tenants_D21">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
                        <value>CHIRIAC</value>
						<value>DIMITROV</value>
						<value>Iaconi Elena</value>
						<value>MARSHAM</value>
						<value>VELEVA</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Vehicles">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>ALBAND</value>
						<value>AUTODEMONTAGE</value>
						<value>AUTOMATERIALEN</value>
						<value>BENJAN MOTOREN</value>
						<value>CAR-SHOP</value>
						<value>HERMAN BUITELAAR</value>
						<value>JARNO</value>
						<value>JATECH</value>
						<value>KORTELAND MOTOREN</value>
						<value>MARTIJN S MOTORKLE</value>
						<value>MIJNAUTOONDERDELEN.NL</value>
						<value>MOTO EQUIPMENT</value>
						<value>MOTOPORT</value>
						<value>MOTORGOEDKOOP.NL</value>
						<value>PEUGEOT</value>
                        <value>TOOLPROF</value>
						<value>VOORDEELHELMEN</value>
						<value>W. & S. ROTTERDAM</value>
					</values>
				</rule>
				<rule>
					<function>StringInNote</function>
					<description>In name</description>
					<values>
						<value>ALBAND</value>
						<value>AUTODEMONTAGE</value>
						<value>AUTOMATERIALEN</value>
						<value>BENJAN MOTOREN</value>
						<value>CAR-SHOP</value>
						<value>HERMAN BUITELAAR</value>
						<value>JARNO</value>
						<value>JATECH</value>
						<value>KORTELAND MOTOREN</value>
						<value>MARTIJN S MOTORKLE</value>
						<value>MIJNAUTOONDERDELEN.NL</value>
						<value>MOTO EQUIPMENT</value>
						<value>MOTOPORT</value>
						<value>MOTORGOEDKOOP.NL</value>
						<value>PEUGEOT</value>
						<value>TOOLPROF</value>
						<value>VOORDEELHELMEN</value>
						<value>W. & S. ROTTERDAM</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="VVE_AD67">
			<rules>
				<rule>
					<function>AccountNumberContraEqualTo</function>
					<description>In name</description>
					<values>
						<value>405590288</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="VVE_D21">
			<rules>
				<rule>
					<function>StringInName</function>
					<description>In name</description>
					<values>
						<value>VP.A Vastgoedmanagement B.V.</value>
					</values>
				</rule>
			</rules>
		</category>
		<category name="Withdrawal">
			<rules>
				<rule>
					<function>MutationEqualTo</function>
					<description>In name</description>
					<values>
                        <value>Geldautomaat</value>
						<value>Opname kantoor</value>
					</values>
				</rule>
			</rules>
		</category>
	</categories>
</config>
